<form class='form' style='margin-left: 0px'>
  <span class='formText vhod projectName'> Deli-Very Kebab </span>
</form>
<div class='adressInput'>
  {{#if isAutorize}}
  <div class='adressItem username'>
    {{userId}}/{{username}}
  </div>
  {{/if}}
  <div class='adressItem' id='inputAddress'>
    <input type='text' name='login' placeholder='Введите адрес доставки' required />
  </div>

  <div class='adressItem nav'>
    {{#if isAutorize}}
    {{#if roleUser}}
    <style>
      #inputAddress {
        display: block;
      }
    </style>
    <button id='userProfile' class='user-style' type='button'>Профиль П</button>
    {{/if}}
    {{#if roleCourier}}
    <button id='courierProfile' class='courier-style' type='button'>Профиль К</button>
    <button id='' class='add-style' type='button'>Добавить доставку</button>
    {{/if}}
    <button id='logOut' class='logout-style' type='button'>Выйти</button>
    {{else}}
    <button id='formLogin' class='login-style' type='button'>Логин</button>
    <button id='formRegister' class='reg-style' type='button'>Регистрация</button>
    <style>
      .adressInput {
        justify-content: flex-end;
      }
    </style>
    {{/if}}

  </div>
</div>
<div class='sorting'>
  <h3>Сортировать по:</h3>
  <a href='#'>&nbsp;расстоянию</a>
  <p>
    &nbsp;цене:
    <select name='price' id='priceSort'>
      <option value='DESC'>по возрастанию</option>
      <option value='ASC'>по убыванию</option>
    </select>
  </p>
</div>

<div class='productsListing'>
  <div class='mainBuyers'>
    <div class='products'>
      <div class='product-image'>
        <img src='/src/images/shaurma.jpeg' alt='' style='width: 100%; height: 100%' />
      </div>
      <div class='info'>
        <div class='product-name'>Название:</div>
        <div class='product-price'>Цена:</div>
        <div class='product-discount'>Цена со скидкой:</div>
        <div class='product-time'>Время в пути:</div>
      </div>
      <div class='maps'>
        <div class='map'>
          <img src='/src/images/map.jpeg' alt='' />
        </div>
      </div>
    </div>
    <div class='products'>
      <div class='product-image'>
        <img src='/src/images/shaurma.jpeg' alt='' style='width: 100%; height: 100%' />
      </div>
      <div class='info'>
        <div class='product-name'>Название:</div>
        <div class='product-price'>Цена:</div>
        <div class='product-discount'>Цена со скидкой:</div>
        <div class='product-time'>Время в пути:</div>
      </div>
      <div class='maps'>
        <div class='map'>
          <img src='/src/images/map.jpeg' alt='' />
        </div>
      </div>
    </div>
  </div>

  <div class='mainBasket'>
    <h3><b>Корзина</b></h3>
    <br />
    <div>Сумма заказа:</div>
    <div>Статус заказа:</div>
    <div>
      Позвонить курьеру:
      <br />
      <span><a href='”tel:+79998887766”'>+7(999)888-77-66</a></span>
    </div>
  </div>
</div>
