<form action='/product/add' method='post' id='addProduct'>
  <input type='file' name='file' placeholder='Изображение' />
  <input type='text' placeholder='Название' />
  <input type='text' placeholder='Адрес' />
  <button type='submit'>Отправить</button>
</form>
