 <div class='formText vhod projectName'>
      Deli-Very Kebab
    </div>
    <div class='formText vhod'>
      Регистрация
    </div>
<div class='sections'>
   
  <div class='bg-image'>
    <img src='./src/site/kebab.jpg' alt='' />
  </div>
  <form id='registration' class='form' method='post' action='/registration'>
  
    <div class='formText'>
      <input type='text' name='login' placeholder='Имя' required />
    </div>
    <div class='formText'>
      <input type='tel' name='phone' placeholder='Номер телефона' required />
    </div>
    <div class='formText radio'>
      <label>
        <input type='radio' value='1' name='role' />
        <span>Покупатель</span>
      </label>
      <label>
        <input type='radio' value='2' name='role' />
        <span>Курьер</span>
      </label>
    </div>
    <div class='formText'>
      <input type='password' name='password' placeholder='Пароль' required />
    </div>
    <div id='out'></div>
    <div class='formText submitForm' style="margin-top: 240px;">
      <button type='submit' class='formButton'>Зарегистрироваться</button>
    </div>
    <div class='formText vhod'>
      <button
        type='button'
        id='formLogin'
        class='linkButton'
      >Авторизоваться</button>
    </div>
  </form>
</div>
